.roomList {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}



.joinOuterContainer {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: white;
}

.existRoomContainer {
  width: 70%;
  height: 95vh;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 3%; 
}

.roomListContainer {
  margin: 3%;
}

.joinInnerContainer {
  width: 20%;
  margin-right: 5%;
  
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.joinInputRoom {
  border-radius: 0;
  padding: 15px 20px;
  width: 80%;
  font-size: 20px;
}

.heading {
  color: black;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.button {
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #dd1212;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}